@charset "utf-8";
/**
 * @file: common.scss
 * @project: 京东收银台-公共组件层
 * @update: 2014-9-4 11:03:30
 * @note: 此文件为公共文件，修改后请在changeLog中注明
 * @changeLog: 
 *  2014-9-4: 创建文件
 */
@import "_css3lib.scss";
/**
 * 全局配置
 */
$baseColorBlack: #24252f;
body{
    font-family: 'Microsoft Yahei','\5FAE\8F6F\96C5\9ED1',Arial,'Hiragino Sans GB','\5B8B\4F53';
}

/**
 * layout 布局 
 */
.mt5 { margin-top: 5px }
.mt10 { margin-top: 10px }
.mt15 { margin-top: 15px }
.mt20 { margin-top: 20px }
.mb5 { margin-bottom: 5px }
.mb10 { margin-bottom: 10px }
.mb15 { margin-bottom: 15px }
.mb20 { margin-bottom: 20px }
.mb30{ margin-bottom:30px;}
.ml5 { margin-left: 5px }
.ml10 { margin-left: 10px }
.ml15 { margin-left: 15px }
.ml20 { margin-left: 20px }
.mr5 { margin-right: 5px }
.mr10 { margin-right: 10px }
.mr15 { margin-right: 15px }
.mr20 { margin-right: 20px }

.pt5 { padding-top: 5px }
.pt10 { padding-top: 10px }
.pt15 { padding-top: 15px }
.pt20 { padding-top: 20px }
.pb5 { padding-bottom: 5px }
.pb10 { padding-bottom: 10px }
.pb15 { padding-bottom: 15px }
.pb20 { padding-bottom: 20px }
.pl5 { padding-left: 5px }
.pl10 { padding-left: 10px }
.pl15 { padding-left: 15px }
.pl20 { padding-left: 20px }
.pr5 { padding-right: 5px }
.pr10 { padding-right: 10px }
.pr15 { padding-right: 15px }
.pr20 { padding-right: 20px }

/**
 * color 颜色
 */
.font-black{
    color: #666;
}
.font-gray{
    color: #999;
}
// 加粗
.font-bold{
    font-weight: bold;
}

a{
   color: $baseColorBlack; 
}
a:hover{
    text-decoration: none;
    color: $baseColorBlack;
}

/**
 * 状态
 */
.hide{
    display: none;
}


/**
 * 头尾
 */
.header{
    background-color: $baseColorBlack;
    height: 72px;

    .header-logo{
        float: left;
        width: 250px;
        overflow: hidden;
        padding-left: 10px;
        padding-top: 15px;
        margin-right: 100px;
        h1{
            display: block;
        }
    }

    .header-nav{
        float: left;
        width: 600px;
        padding-top: 13px;

        .nav-item{
            float: left;
            height: 44px;
            line-height: 44px;
            a{
                display: block;
                padding: 0 20px;
                color: #86868a;
                font-size: 14px;
            }

            &.current{
                a{
                    color: #fff;
                    font-weight: bold;
                }
            }
        }
    }

    .header-ext{
        float: right;
        padding-top: 15px;
        padding-right: 10px;

        .header-ext-link{
            color: #fff;
            display: inline-block;
            height: 44px;
            line-height: 44px;
            font-size: 14px;
        }
    }
}

/**
 * 分页
 */
.ui-page{
    padding-top: 50px;

    .ui-page-wrap{
        height: 40px;
    }

    .ui-page-left{
        float: left;
    }
    .ui-page-right{
        float: right;
    }

    .ui-page-item{
        float: left;
        display: block;
        height: 44px;
        line-height: 44px;
        padding: 0 18px;
        background-color: #eff2f5;
        text-align: center;
        margin-right: 12px;
        color: $baseColorBlack;
        font-weight: bold;
        font-size: 13px;
        border-radius: 4px;

        &.current{
            background-color: $baseColorBlack;
            color: #fff;
        }
    }
}